package-lock.json
script/script.json
*.tsbuildinfo
node_modules
config.js
certs
temp
packages/ipfs/.nyc_output
packages/eth-contract/test/compiler/src/
packages/eth-contract/test/compiler/lib/
packages/eth-contract/test/compiler/types/
packages/eth-contract/tools/bin/solcjs/